/*IMPORTS*/
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:400,400i,500|Lobster:400|Source+Code+Pro:400";
/*MAIN*/


body {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  color: dimgrey;
}

/*HEADERS AND TEXT*/
.inline{
  display: inline;
  -webkit-animation: bounce-in-right 1.3s both;
  animation: bounce-in-right 1.3s both;

}
span {
  font-family: 'Wendy One', sans-serif;
  color: dimgrey;
}
.header {
  padding: 20px;
  background: #ff7fd8ad;
  color: white;
  font-size: 40px;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 15px 0;
  font-family: 'Open Sans';
  font-weight: 300;
}
h2 {
  font-size: 30px;
  letter-spacing: 2px;
}
h3 {
  font-size: 25px;
  letter-spacing: 1px;
}
p {
  margin: 10px 0;
  color: dimgrey;
}
img {
  width: auto;
  max-width: 100%;
  max-height: 500px;
  display: block;
  margin: 1em auto;
}

/*INPUT METHODS*/
button,
.btn {
  padding: 15px;
  border: 0px solid dimgrey;
  background: #ff7fd8ad;
  color: dimgrey;
  outline: none;
  transition: all 0.25s, transform 0.1s;
  width: 100px;
}
button:hover,
.btn:hover {
  background: rgb(255, 222, 228);
  color: dimgrey;
}

input[type='text'], input[type='number'], select {
  padding: 15px;
  margin: 0 10px 10px 0px;
  border: 0px solid dimgrey;
  background:#ff7fd8ad;
  color: dimgrey;
  outline: none;
  transition: all 0.25s;
}
input[type='text']:hover, input[type='number']:hover, select:hover {
  background:rgb(255, 222, 228);
}
a {
  box-sizing: border-box;
  color:rgb(252, 79, 174);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}

/* range */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #333333, 0px 0px 0px #404040;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #696969;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background:#ff7fd8ad;
  border-radius: 20.1px;
  border: 0px solid #ffffff;
}
/*MEDIA*/
@media only screen and (max-width: 720px) {
  body {
    padding: 15px;
  }
  
  .box > div {
    display: block;
    width: 100%;
    padding: 0 0 !important;
    float: none;
  }
}
.fullwidth {
  width: 100%;
  max-width: 500px;
  max-height: 800px;
}

#imgFile {
  display: none;
}

input[type='text'], input[type='range'] {
  width: 100%;
}

h3 > i.fa {
  margin-right: .2em;
}


/*Animation*/
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.title-color {
	-webkit-animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



@-webkit-keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-right{0%{-webkit-transform:translateX(600px);transform:translateX(600px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateX(68px);transform:translateX(68px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateX(32px);transform:translateX(32px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateX(8px);transform:translateX(8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateX(0);transform:translateX(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.bounce-in-right {
	-webkit-animation: bounce-in-right 1.3s both;
	        animation: bounce-in-right 1.3s both;
}